<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.docoding.clickcare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity
            android:name=".activities.pasien.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.pasien.AntrianPasienActivity"
            android:exported="false" />
        <activity
            android:name=".activities.pasien.ChatDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".activities.pasien.PaymentGatewayActivity"
            android:exported="false" />
        <activity
            android:name=".activities.pasien.InfoAppActivity"
            android:exported="true" />
        <activity
            android:name=".activities.pasien.DetailDoctorActivity"
            android:exported="true" />
        <activity
            android:name=".activities.pasien.DetailRegistrasi"
            android:exported="false" />
        <activity
            android:name=".activities.pasien.RegisterPasienActivity"
            android:exported="true" />
        <activity
            android:name=".activities.pasien.DoctorConsultantActivity"
            android:exported="true" />
        <activity
            android:name=".activities.pasien.HomeActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activities.pasien.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".activities.pasien.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.pasien.OnboardingActivity"
            android:exported="true" />
        <activity
            android:name=".activities.pasien.SplashScreen"
            android:exported="true"></activity>

        <service android:name=".services.FetchAddressIntentService" />
    </application>

</manifest>